<div class="well" ng-controller="authCtrl">
    <div class="alert alert-info" ng-hide="authenticationError">
        Enter your username and password and click log in to authenticate
    </div>

    <div class="alert alert-danger" ng-show="authencicationError">
        Authentication Failed({{authenticationError.status}}). Try again.
    </div>

    <form action="" name="authFrom" novalidate>
        <div class="form-group">
            <label for="">Username</label>
            <input name="username" class="form-control" ng-model="username" required>
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input name="password" type="password" class="form-control" ng-model="password" required>
        </div>
        <div class="text-center">
            <button ng-click="authenticate(username, password)" ng-disabled="authForm.$invalid" class="btn btn-primary">Log In</button>
        </div>
    </form>
</div>
